* {
    margin: 0;
    padding: 0;
}

body {
    background: #faf8ef;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

#info {
    width: 600px;
    margin: 0 auto;
}

#info .title {
    color: #776e65;
    font-size: 60px;
    float: left;
}

#info .score,
#info .best {
    background: #bbada0;
    color: #eee4da;
    padding: 5px 10px;
    float: right;
    text-align: center;
    border-radius: 10px;
    height: 60px;
    line-height: 30px;
    margin-top: 10px;
}

#info .score span,
#info .best span {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}

#info .score {
    margin-right: 10px;
}

#info .new {
    padding: 10px 0;
}

#info .author {
    float: left;
}

#info .new-game {
    float: right;
    font-size: 20px;
    background: #8f7a66;
    color: #fff7eb;
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#info .dec {
    float: left;
}

#container {
    margin: 10px auto;
    position: relative;
    width: 650px;
}

#container table {
    border: 5px solid #bbada0;
    background: #cdc1b4;
    border-radius: 10px;
}

#container table td {
    display: block;
    float: left;
    width: 150px;
    height: 150px;
    border: 5px solid #bbada0;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 150px;
}

#container table div {
    width: 150px;
    height: 150px;
    position: absolute;
}

.show {
    animation: show 0.1s linear forwards;
}

.diamand-2 {
    background: #eee4da;
    color: #7c736a;
}

.diamand-4 {
    background: #ece0c8;
    color: #7c736a;
}

.diamand-8 {
    background: #f2b179;
    color: #fff7eb;
}

.diamand-16 {
    background: #f59563;
    color: #fff7eb;
}

.diamand-32 {
    background: #f57c5f;
    color: #fff7eb;
}

.diamand-64 {
    background: #f65e3b;
    color: #fff7eb;
}

.diamand-128 {
    background: #edcf72;
    color: #fff7eb;
}

.diamand-256 {
    background: #edcc61;
    box-shadow: 0 0 30px 10px rgba(237, 230, 80, 0.31746);
    color: #fff7eb;
}

.diamand-512 {
    background: #edc850;
    color: #f9f6f2;
    box-shadow: 0 0 30px 10px rgba(237, 230, 80, 0.49683);
    font-size: 45px;
}

.diamand-1024 {
    color: #f9f6f2;
    background: #edc53f;
    box-shadow: 0 0 30px 10px rgba(207, 230, 63, 0.47619);
    font-size: 35px;
}

.diamand-2048 {
    color: #f9f6f2;
    background: #edc22e;
    box-shadow: 0 0 40px 10px rgba(207, 204, 46, 0.75556);
    font-size: 35px;
}

@keyframes show {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

#win,
#lose {
    background: rgba(218, 213, 83, 0.556);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#win .title,
#lose .title {
    height: 50%;
    text-align: center;
    transform: translate(0, 50%);
    font-size: 60px;
}

#win .score,
#lose .score {
    text-align: center;
    font-size: 40px;
    margin-bottom: 80px;
}

#win .select {
    width: 320px;
    margin: 0 auto;
}

#lose .select {
    width: 150px;
    margin: 0 auto;
}

#win .continu,
#win .new,
#lose .new {
    float: left;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: rgba(200, 200, 200, 0.7);
    cursor: pointer;
}

#win .new {
    float: right;
}